.App {
  text-align: center;
  background-color: rgb(232, 255, 194);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  }


  header {
    margin: 20px;

  }

  h1 {
    color: rgb(102, 58, 17);

  }

